@import "react-alice-carousel/lib/alice-carousel.css";

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% - 60px);
  height: calc(50vh - 60px);
  padding: 30px;
  background-color: rgb(27, 43, 78);
  color: gold;
}
.card:hover {
  cursor: pointer;
}

.alice-carousel {
  font-size: 20px;
}

.text {
  width: calc(100%-40px);
}

.tag::before {
  content: "";
  display: block;
  margin: auto;
  width: 30px;
  height: 2px;
  background-color: gold;
  transform: translate(-45px, 18px);
}
.tag::after {
  content: "";
  display: block;
  margin: auto;
  width: 30px;
  height: 2px;
  background-color: gold;
  transform: translate(45px, -18px);
}

.token {
  background-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.hotel4 {
  background-color: #bfbb00;
  box-shadow: 0 0 20px 1px rgba(255, 255, 255, 0.8);
}
.hotel6 {
  background-color: #af3939;
  box-shadow: 0 0 20px 1px rgba(255, 255, 255, 0.8);
}
.hotel8 {
  background-color: #000000;
  box-shadow: 0 0 20px 1px rgba(255, 255, 255, 0.8);
}
.hotel10 {
  background-color: #ffffff;
  box-shadow: 0 0 20px 1px rgba(255, 255, 255, 0.8);
}
.hotel11 {
  background-color: #105f7e;
  box-shadow: 0 0 20px 1px rgba(255, 255, 255, 0.8);
}

@media (orientation: landscape) {
  .card {
    height: calc(100vh);
    padding: 0 30px;
  }
}
