.App {
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  height: 20vh;
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  color: gold;
  font-size: calc(10px + 2vmin);
  height: calc(50vh);
}

main {
  background-color: #282c34;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (orientation: landscape) {
  .App-header {
    display: none;
  }
  main {
    height: 100vh;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
